<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onedayone.piyagi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/piyagi_logo"
        android:label="삐약이"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>

        <activity
            android:name=".AlyacMorningSettingActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AlyacMorningAlarmActivity"
            android:exported="true"></activity>
        <service android:name=".AlyacMorningService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".AlyacDaySettingActivity"
            android:exported="true"></activity>
        <activity
            android:name=".AlyacDayAlarmActivity"
            android:exported="true"></activity>
        <service android:name=".AlyacDayService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".AlyacEveningSettingActivity"
            android:exported="true"></activity>

        <activity
            android:name=".AlyacNightSettingActivity"
            android:exported="true"></activity>

        <activity
            android:name=".HospitalSettingActivity"
            android:exported="true"></activity>

        <activity
            android:name=".RepeatSettingActivity"
            android:exported="true"></activity>

    </application>
    <supports-screens
        android:resizeable="true"
        android:requiresSmallestWidthDp="900"
        android:largestWidthLimitDp="1200"
        android:xlargeScreens="true"></supports-screens>
</manifest>