<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onedayone.piyagi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/piyagi2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".RepeatActivity"
            android:label="RepeatActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".AlyacActivity"
            android:label="AlyacActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".HospitalActivity"
            android:label="HospitalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".RepeatAlarmActivity"
            android:exported="true"
            android:enabled="true">
        </activity>
        <service android:name=".RepeatService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>